<div class="d-flex justify-content-between px-4 page-navbar-content">
    <button type="button" class="btn btn-sm my-auto"><i class="fas fa-info-circle my-auto"></i></button>
    <h1 class="my-auto text-font">Workflow</h1>
    <div class="my-auto nav-placeholder"></div>
</div>