@model AgendaDetailDTO
@{
    ViewData["Title"] = "Detail Agendy";
}
<script>
    const ActiveBlocks = @(Html.Raw(JsonConvert.SerializeObject(Model.ActiveBlocks)));
</script>
<script src="~/js/Agenda/Agenda.js"></script>
<script src="~/js/Model/Model.js"></script>

@if (Model != null)
{
    <div id="PageNavId" class="page-navbar">
        @await Html.PartialAsync("Partial/_AgendaDetailHeader", Model)
    </div>
    <div id="PageContentId" class="d-flex pt-3">
        <div id="DetailDivId" class="detail-div container-lg">
            @await Html.PartialAsync("Partial/_AgendaDetail", Model)
        </div>
        <div id="OverviewDivId" class="container-lg side-overview">
            <div class="row">
                @await Html.PartialAsync("Partial/_AgendaCard", (Model.SelectedAgenda, true))
                @foreach (AgendaAllDTO agenda in Model.AllAgendas)
                {
                    @await Html.PartialAsync("Partial/_AgendaCard", (agenda, false))
                }
            </div>
        </div>
        <div id="OverviewNavId" class="overview-nav overview-nav-hide" onclick="FilterChanges(event, '/Agenda/Filter')"></div>
    </div>
}
