@{
    ViewData["Title"] = "Agendy";
}
<script src="~/js/Agenda/AgendaOverview.js"></script>

<div id="PageNavId" class="page-navbar ">
    <div class="d-flex justify-content-between px-4 page-navbar-content">
        <i class="fas fa-chevron-circle-left my-auto"></i>
        <h1 class="mb-0 pt-1">Agendy</h1>
        <div class="my-auto">
            <button class="butn btn-p" 
                    onclick="ShowModal('CreateAgendaId', '/Agenda/CreateModal', 'CreateAgendaId', ValidateAgendaCreate)">Vytvořit</button>
        </div>
    </div>
    <form id="CreateAgendaId" class="mx-4 mt-4 mb-3" method="POST" action="/Agenda/Create" ></form>
</div>