@model AgendaOverviewDTO
@{
    ViewData["Title"] = "Agendy";
    bool show = (bool)ViewData[SystemRoleEnum.Admin.ToString()] || (bool)ViewData[SystemRoleEnum.AgendaKeeper.ToString()];
}
<script src="~/js/Agenda/Agenda.js"></script>
<script src="~/js/Model/Model.js"></script>

<div id="PageNavId" class="page-navbar">
    @await Html.PartialAsync("Partial/_AgendaOverviewHeader")
</div>
<div id="PageContentId" class="d-flex pt-3">
    <div id="DetailDivId" class="d-none detail-div">
        <div class="loading-content"></div>
    </div>
    <div id="OverviewDivId" class="container-lg">
        @await Html.PartialAsync("Partial/_AgendaOverview", Model.Agendas)
    </div>
    <div id="OverviewNavId" class="overview-nav" onclick="FilterChanges(event, '/Agenda/Filter')">
        @await Html.PartialAsync("Partial/_OverviewFilters", "Agenda")
    </div>
</div>
