@{
    ViewData["Title"] = "Home Page";
}

<div class="navbar border-bottom box-shadow d-flex justify-content-between px-4 align-content-center mx-2 px-2">
    <i class="fas fa-chevron-circle-left"></i>
    <h1 class="mb-0">Agendy</h1>
    <div>
        <button class="btn-p">Vytvořit</button>
    </div>
</div>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <button class="btn-p">Vytvořit</button>
    <div class="row">
        <div class="col-8" style="height: 800px; background-color: aqua;">

        </div>
        <div class="col-4" style="height: 800px; background-color: cadetblue;">

        </div>
        <div class="col-5" style="height: 800px; background-color: gold;">

        </div>
        <div class="col-7" style="height: 800px; background-color: mediumseagreen;">

        </div>
    </div>
</div>
