@model ServiceDetailDTO
@{
    ViewData["Title"] = "Detail webové služby";
}
<script src="~/js/Service/Service.js"></script>

<div id="PageNavId" class="page-navbar">
    @await Html.PartialAsync("Partial/_ServiceDetailHeader", Model)
</div>
<div id="PageContentId" class="d-flex pt-3">
    <div id="DetailDivId" class="detail-div container-lg">
        @await Html.PartialAsync("Partial/_ServiceDetail", Model)
    </div>
    <div id="OverviewDivId" class="container-lg side-overview">
        <div class="row">
            @await Html.PartialAsync("Partial/_ServiceCard", (Model.SelectedService, true))
            @foreach (ServiceAllDTO service in Model.OtherServices)
            {
                @await Html.PartialAsync("Partial/_ServiceCard", (service, false))
            }
        </div>
    </div>
    <div id="OverviewNavId" class="overview-nav overview-nav-hide" onclick="FilterChanges(event, '/Service/Filter')"></div>
</div>