@model ServiceEditPageDTO
@{
    if (Model.Id == Guid.Empty)
    {
        ViewData["Title"] = "Tvorba webové služby";
    }
    else
    {
        ViewData["Title"] = "Editace webové služby";
    }
}
<script src="~/js/Service/Service.js"></script>

<div id="PageNavId" class="page-navbar">
    @await Html.PartialAsync("Partial/_ServiceEditHeader", Model)
</div>
<div id="PageContentId" class="d-flex pt-3">
    <div id="OverviewDivId" class="container-lg">
        @await Html.PartialAsync("Partial/_ServiceCreateEdit", Model)
    </div>
    <div id="OverviewDivId" class="container-lg side-overview">
        <div class="row">
            @await Html.PartialAsync("Partial/_ServiceCard", (Model.SelectedService, true))
            @foreach (ServiceAllDTO service in Model.OtherServices)
            {
                @await Html.PartialAsync("Partial/_ServiceCard", (service, false))
            }
        </div>
    </div>
</div>