
:root {
    --primary-color: rgb(28, 100, 255);
    --primary-shadow-color: rgba(28, 160, 255, 0.66);
    --success-color: rgb(17, 167, 45);
    --success-shadow-color: rgba(30, 214, 23, 0.66);
    --danger-color: rgb(189, 7, 7);
    --danger-shadow-color: rgba(230, 21, 21, 0.66);
}

.butn {
    padding: 0.35rem 0.75rem;
    border-radius: 0px;
    color: white;
    border: none;
    outline: none;
    -webkit-box-shadow: 0px 0px 4px 1px #ccc;
    box-shadow: 0px 0px 4px 1px #ccc;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-transform: uppercase;
    font-size: 15px;
    display: inline-block;
    margin: 0 0.25rem;
}

.butn-sm {
    font-size: 11px;
    padding: 0.3rem 0.7rem;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-p {
    background-color: var(--primary-color);
}

.btn-s {
    background-color: var(--success-color);
}

.btn-d {
    background-color: var(--danger-color);
}

.btn-p:hover, .btn-p:focus {
    -webkit-box-shadow: 0px 0px 3px 1px var(--primary-shadow-color);
    box-shadow: 0px 0px 3px 1px var(--primary-shadow-color);
}

.btn-s:hover, .btn-s:focus {
    -webkit-box-shadow: 0px 0px 3px 1px var(--success-shadow-color);
    box-shadow: 0px 0px 3px 1px var(--success-shadow-color);
}

.btn-d:hover, .btn-d:focus {
    -webkit-box-shadow: 0px 0px 3px 1px var(--danger-shadow-color);
    box-shadow: 0px 0px 3px 1px var(--danger-shadow-color);
}

.butn:disabled, button[disabled] {
    opacity: 0.8;
}

.butn:disabled:hover, button[disabled]:hover {
    transform: none;
    transition: none;
    -webkit-box-shadow: 0px 0px 4px 1px #ccc;
    box-shadow: 0px 0px 4px 1px #ccc;
}

.butn-sm:disabled:hover, button[disabled]:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn:focus {
    box-shadow: none !important;
}

a.butn {
    text-decoration: none;
}

a.butn:hover {
    color: #fff;
}

.btn-role-edit {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 100;
}

.btn-role-remove {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    z-index: 100;
}

.btn-role-remove:hover {
    color: red;
}