.input {
    position: relative;
    width: 100%;
  }

.input-hidden {
  display: none;
}

.checkbox {
  display: inline-block;
  height: 1.1em;
  width: 1.1em;
  margin: 0.21rem 0.5rem 0rem 0.0rem;
  display: block;
}

.label-checkbox {
  font-weight: bold;
  color: var(--color-inactive);
  font-size: 1.07em;
  display: block;
}

.label-checkbox-checked {
  color: var(--color-primary);
}

.input-label {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0.2rem 0.2rem;
  margin: 0.4rem 0.5rem;
  white-space: nowrap;
  transform: translate(0, 0);
  transform-origin: 0 0;
  transition: transform 120ms ease-in;
  font-weight: bold;
  line-height: 1.2;
  background-color: #fff;
  color: var(--color-inactive);
  cursor: text;
}

.input-label:hover {
  color: var(--color-primary);
}

.input-field, .input-file, .input-select {
  display: block;
  width: 100%;
  padding: 0.4rem 0.5rem;
  border: none;
  -webkit-box-shadow: inset 0px 0px 2px 1px #aaa; 
  box-shadow: inset 0px 0px 2px 1px #aaa;
  background-color: #fff;
}

.input-field:focus {
  outline: none;
  background-color: #fff;
}

.input-field:focus + .input-label, 
.input-select:not(:empty) + .input-label, 
.input-field:not(:placeholder-shown) + .input-label, 
.input-file-chosen,
.readonly-div + .input-label,
.flex-input-group + .input-label, 
.input-field[type=date] + .input-label {
  transform: translate(0.25rem, -82%) scale(0.95);
  color: var(--color-primary);
  padding: 0rem 0.2rem;
}

.input-field[required]:invalid + .input-label, 
.input-select[required]:invalid + .input-label, 
.input-file[required]:invalid + .input-label {
  color: var(--color-required) !important;
}

.input-select {
  background: none;
  padding: 0.526rem 0.5rem;
}

.input-select option {
  padding: 0.2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 0px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition-delay: 99999s;
  -webkit-transition: color 99999s ease-out, background-color 99999s ease-out;
  transition-delay: 99999s;
  transition: color 99999s ease-out, background-color 99999s ease-out;
}

.color-required {
  color: var(--color-required) !important;  
}

.checkbox:checked + .label-checkbox {
  color: var(--color-primary);
}

.checkbox:disabled + .label-checkbox {
  color: var(--color-disabled);
}

.input-field:read-only, .input-select:disabled {
  color: var(--color-disabled);
}

.input-field:read-only + .input-label, .input-select:disabled + .input-label {
  color: var(--color-disabled);
}

input[type=file] {
  color: #fff;
  background-color: #fff;
  cursor: pointer;
}

input[type=file]::file-selector-button, input[type=file]::-webkit-file-upload-button  {
  display: none;
}

input[type=file]:focus {
  -webkit-box-shadow: inset 0px 0px 2px 1px #aaa; 
  box-shadow: inset 0px 0px 2px 1px #aaa;
}

input[type=file]::after {
  content: "Vyberte soubor";
  color: #000;
  float: right;
  background-color: #ccc;
  margin: -0.4rem -0.5rem -0.4rem -0.5rem;
  padding: 0.4rem 0.5rem 0.4rem 0.5rem;
  cursor: pointer;
}

input[type=file]:hover::after {
  color: var(--color-primary);
}

.input-select[required]:invalid {
  color: var(--color-inactive);
  font-style: italic;
}

option {
  color: initial;
  font-style: initial;
}

.input-select[value=""] {
  color: var(--color-inactive);
  font-style: italic;
}

.input-select + option[value=""] {
  color: var(--color-inactive);
  font-style: italic;
}

.readonly-div-file {
  display: block;
  width: 100%;
  padding: 0.4rem 0.5rem;
}

.readonly-div {
  display: block;
  width: 100%;
  padding: 0.4rem 0.5rem;
  border: solid 1px var(--color-primary);
  border-radius: 0.25rem;
}

.readonly-div:empty::before {
  content: "Nevyplněno";
  color: var(--color-secondary);
  font-style: italic;
}

.flex-input-group {
  display: flex;
  -webkit-box-shadow: inset 0px 0px 2px 1px #aaa; 
  box-shadow: inset 0px 0px 2px 1px #aaa;
}

.flex-input-group .readonly-div {
  padding: 0.4rem 0.5rem;
}

.input-badge {
  padding: 0.4rem 0.8rem;
  margin-right: 0.5rem;
  margin-top: 0.3rem;
  margin-bottom: auto;
}
