.input {
    position: relative;
    width: 100%;
  }

.input-hidden {
  display: none;
}

.checkbox {
  display: inline-block;
  height: 1.1em;
  width: 1.1em;
  margin: 0.21rem 0rem 0rem 0.5rem;
  display: block;
}

.label-checkbox {
  font-weight: bold;
  color: #555;
  font-size: 1.07em;
  display: block;
}

.label-checkbox-checked {
  color: var(--color-primary);
}

.input-label {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0.2rem 0.2rem;
  margin: 0.4rem 0.5rem;
  white-space: nowrap;
  transform: translate(0, 0);
  transform-origin: 0 0;
  transition: transform 120ms ease-in;
  font-weight: bold;
  line-height: 1.2;
  background-color: #fff;
  color: #555;
  cursor: text;
}

.input-label:hover {
  color: var(--color-primary);
}

.input-field, .input-file, .input-select {
  display: block;
  width: 100%;
  padding: 0.4rem 0.5rem;
  border: none;
  -webkit-box-shadow: inset 0px 0px 2px 1px #aaa; 
  box-shadow: inset 0px 0px 2px 1px #aaa;
  background-color: #fff;
}

.input-field:focus {
  outline: none;
  background-color: #fff;
}

.input-field:focus + .input-label, .input-field:not(:placeholder-shown) + .input-label, .input-file-chosen {
  transform: translate(0.25rem, -82%) scale(0.95);
  color: var(--color-primary);
  padding: 0rem 0.2rem;
}

.input-select {
  background: none;
  padding: 0.526rem 0.5rem;
}

.input-select option {
  padding: 0.2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 0px;
}

input[type=file] {
  color: #fff;
  cursor: pointer;
}

input[type=file]::file-selector-button, input[type=file]::-webkit-file-upload-button  {
  display: none;
}

input[type=file]:focus {
  -webkit-box-shadow: inset 0px 0px 2px 1px #aaa; 
  box-shadow: inset 0px 0px 2px 1px #aaa;
}

input[type=file]::after {
  content: "Vyberte soubor";
  color: #000;
  float: right;
  background-color: #ccc;
  margin: -0.4rem -0.5rem -0.4rem -0.5rem;
  padding: 0.4rem 0.5rem 0.4rem 0.5rem;
  cursor: pointer;
}
  
input[type=file]:hover::after {
  color: #fff;
  background-color: var(--color-primary);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition-delay: 99999s;
  -webkit-transition: color 99999s ease-out, background-color 99999s ease-out;
  transition-delay: 99999s;
  transition: color 99999s ease-out, background-color 99999s ease-out;
}
  
.color-required {
  color: var(--color-required) !important;  
}

  