:root {
  --footer-height: 50px;
  --navbar-height: 60px;
  --color-bg-footer: #fff;
  --color-bg-navbar: #fff;
  --color-accent: rgb(85, 0, 255);
  --color-primary: rgb(85, 0, 255);
  --color-required: #750000;
  --side-bar-width: 250px;
  --side-bar-small-width: 80px;
  --bradius-card: 1em;
  --color-active: green;
  --color-finished: rgb(85, 0, 255);
  --color-paused: orange;
  --color-canceled: red;
  --color-bg-light: rgba(0, 238, 255, 0.25);
  --color-border: #e5e5e5;
  --color-disabled: #777;
  --color-inactive: #505050;
  --color-prio-low: #018f5b;
  --color-prio-medium: #007bff;
  --color-prio-high: #fc6a00;
  --color-prio-urgent: #cf0000;
  --color-state-new: #444;
  --color-secondary: #6c757d;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: var(--footer-height);
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: var(--footer-height);
  background-color: var(--color-bg-footer);
}

.footer-full {
  width: 100% !important;
  margin: 0px !important;
}

.signin-position {
  padding-top: max(calc(40vh - 250px), 0px);
}

a:hover {
  color: var(--color-prio-medium);
}

.signin-fail {
  color: red; 
  margin-top: -10px; 
  margin-bottom: 10px
}

.sign-out-div {
  position: absolute;
  bottom: 0px;
  left: 0px;
  font-size: 30px;
  color: #ccc;
  width: var(--side-bar-width);
  transition: all 0.75s;
}

.side-menu-bar-small .sign-out-div {
  width: var(--side-bar-small-width) !important;
}

.bg-primary {
  background-color: var(--color-primary) !important;
}

.bg-light {
  background-color: var(--color-bg-light) !important;
}

.text-prim {
  color: var(--color-primary);
}

.text-prim-edit:hover {
  color: var(--color-primary);
}

.text-prim-edit.text-prim:hover {
  color: unset;
}

.text-bold {
  font-weight: bold;
}

.text-font {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.text-1em {
  font-size: 1em;
}

.text-large {
  font-size: 1.25em;
}

.text-right {
  text-align: right;
}

.screen-lg {
  display: none;
}

.loading-content:before {
  content: url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20style%3D%22margin%3A%20auto%3B%20background%3A%20none%3B%20display%3A%20block%3B%20shape-rendering%3A%20auto%3B%22%20width%3D%22200px%22%20height%3D%22200px%22%20viewBox%3D%220%200%20100%20100%22%20preserveAspectRatio%3D%22xMidYMid%22%3E%0A%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%220%22%20fill%3D%22none%22%20stroke%3D%22%23511c95%22%20stroke-width%3D%222%22%3E%0A%20%20%3Canimate%20attributeName%3D%22r%22%20repeatCount%3D%22indefinite%22%20dur%3D%221.3513513513513513s%22%20values%3D%220%3B40%22%20keyTimes%3D%220%3B1%22%20keySplines%3D%220%200.2%200.8%201%22%20calcMode%3D%22spline%22%20begin%3D%220s%22%3E%3C%2Fanimate%3E%0A%20%20%3Canimate%20attributeName%3D%22opacity%22%20repeatCount%3D%22indefinite%22%20dur%3D%221.3513513513513513s%22%20values%3D%221%3B0%22%20keyTimes%3D%220%3B1%22%20keySplines%3D%220.2%200%200.8%201%22%20calcMode%3D%22spline%22%20begin%3D%220s%22%3E%3C%2Fanimate%3E%0A%3C%2Fcircle%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%220%22%20fill%3D%22none%22%20stroke%3D%22%23e76a24%22%20stroke-width%3D%222%22%3E%0A%20%20%3Canimate%20attributeName%3D%22r%22%20repeatCount%3D%22indefinite%22%20dur%3D%221.3513513513513513s%22%20values%3D%220%3B40%22%20keyTimes%3D%220%3B1%22%20keySplines%3D%220%200.2%200.8%201%22%20calcMode%3D%22spline%22%20begin%3D%22-0.6756756756756757s%22%3E%3C%2Fanimate%3E%0A%20%20%3Canimate%20attributeName%3D%22opacity%22%20repeatCount%3D%22indefinite%22%20dur%3D%221.3513513513513513s%22%20values%3D%221%3B0%22%20keyTimes%3D%220%3B1%22%20keySplines%3D%220.2%200%200.8%201%22%20calcMode%3D%22spline%22%20begin%3D%22-0.6756756756756757s%22%3E%3C%2Fanimate%3E%0A%3C%2Fcircle%3E%0A%3C%21--%20%5Bldio%5D%20generated%20by%20https%3A%2F%2Floading.io%2F%20--%3E%3C%2Fsvg%3E);
  width: 100%;
  height: inherit;
  padding: 20% calc(50% - 100px);
  display: block;
}

.loading-modal {
  width: 200px;
  height: 200px;
}

.loading-to-detail {
  width: 300px;
  height: 300px;
  position: fixed;
  top: 18vh;
  left: 30vw;
}

.screen-md {
  display: block;
}

.bpmn-pool {
  cursor: pointer;
}

.bpmn-block {
  cursor: default;
}

.bpmn-not-config .bpmn-block {
  cursor: default;
}

.bpmn-this-sys .bpmn-block {
  cursor: pointer;
}

.menu-btn {
  color: #000; 
  font-size: 30px; 
  cursor: pointer;
}

.menu-btn:hover {
  font-size: 32px;
  transition: all 0.15s;
}

@media (min-width: 768px) {
  .screen-md {
    display: none !important;
  }

  .screen-lg {
    display: block !important;
  }

  .menu-btn {
    margin-right: 22px; 
    color: #fff; 
    font-size: 40px; 
    cursor: pointer;
  }

  .menu-btn:hover{
    font-size: 44px;
    margin-right: 20px;
    transition: all 0.15s;
  }

  .side-menu-bar {
    width: var(--side-bar-width); 
    background-color: rgb(85, 0, 255); 
    -webkit-box-shadow: 0px 0px 10px 2px #888; 
    box-shadow: 0px 0px 10px 2px #888;
    position: fixed;
    top: 0px;
    bottom: 0px;
    z-index: 99;
    transition: width 0.75s;
    padding: 10px 0px;
  }

  .side-menu-bar-small {
    width: var(--side-bar-small-width) !important; 
  }

  .page-navbar {
    max-height: var(--navbar-height);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: var(--color-bg-navbar) !important;
    -webkit-box-shadow: 0px 0px 6px 3px #cacaca; 
    box-shadow: 0px 0px 6px 3px #cacaca;
    overflow: hidden;
    transition: all 0.5s;
    transition-delay: 0.35s;
    margin: 0 3em;
    z-index: 101;
  }

  .page-navbar-content {
    height: var(--navbar-height);
    transition: all 0.35s;
  }

  .page-navbar-modal {
    max-height: 100vh;
    height: fit-content;
    margin: 0px max(calc(50vw - 700px), 1em);
    margin-top: auto;
    margin-top: auto;
    z-index: 101;
    -webkit-box-shadow: 0px 0px 8px 2px #444; 
    box-shadow: 0px 0px 8px 2px #444;
    overflow: auto;
  }

  .page-content-modal {
    position: fixed;
    top: var(--navbar-height);
    width: calc(100% - var(--side-bar-width) - 30px);
  }

  .main-content-large .page-content-modal {
    width: calc(100% - var(--side-bar-small-width) - 30px);
  }

  .main-content-large .page-navbar-modal {
    margin: 0px max(calc(50vw - 600px), 1em);
  }

  .page-navbar-modal .page-navbar-content {
    margin-top: -60px;
  }

  .main-content {
    position: relative;
    width: calc(100% - var(--side-bar-small-width) - 30px);
    margin-left: calc(var(--side-bar-small-width) + 15px);
  }

  .main-content-large {
    position: relative;
    width: calc(100% - var(--side-bar-small-width) - 30px) !important;
    margin-left: calc(var(--side-bar-small-width) + 15px) !important;
  }

  .footer {
    width: calc(100% - var(--side-bar-small-width));
    margin-left: var(--side-bar-small-width);
  }

  .footer-large {
    width: calc(100% - var(--side-bar-small-width)) !important;
    margin-left: var(--side-bar-small-width) !important;
  }
}

@media (min-width: 992px) {
  .main-content {
    width: calc(100% - var(--side-bar-width) - 20px);
    margin-left: calc(var(--side-bar-width) + 10px);
    transition: all 0.75s;
  }
 
  .footer {
    width: calc(100% - var(--side-bar-width));
    margin-left: var(--side-bar-width);
    transition: all 0.75s;
  } 
}

.side-bar-ul {
  list-style-type: none;
  font-size: 30px;
  width: inherit;
  padding-left: 0;
  color: #ccc;
}

.side-bar-ul li {
  width: inherit;
  color: inherit;
}

.side-bar-ul a, .sign-out-div a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  width: inherit;
  padding-left: 25px;
}

.side-bar-ul span, .sign-out-div span {
  padding-left: 18px;
  font-size: 22px;
}

.system-icon, .workflow-icon, .user-icon {
  margin-left: -3.5px;
}

.system-icon + span, .workflow-icon + span, .user-icon + span {
  padding-left: 14px;
}

.active-nav-item a {
  color: #fff;
}

.side-bar-ul a:hover, .sign-out-div a:hover {
  text-decoration: none;
  color: #fff;
  transition: all 0.25s;
}

.nav-text {
  overflow: hidden;
}

.active-nav-item::before {
  content: '';
  position: absolute;
  left: 0;
  width: 3px;
  height: 38px;
  margin-top: 3px;
  background-color: #fff;
}

.modal-background {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.01);
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

.modal-background-show {
  display: block !important;
  background-color: rgba(0,0,0,0.4);
}

.shadow-box {
  -webkit-box-shadow: 0px 0px 6px 0px #aaa; 
  box-shadow: 0px 0px 6px 0px #aaa;  
}

.shadow-box-in {
  -webkit-box-shadow: inset 0px 0px 2px 1px #aaa; 
  box-shadow: inset 0px 0px 2px 1px #aaa;  
}

.close-icon {
  cursor: pointer;
  transition: all 0.2s;
  font-size: 20px;
}

.close-icon:hover {
  transform: scale(1.1);
}

.bg-ddd {
  background-color: #ddd
}

.pointer {
  cursor: pointer !important;
}

.my-card {
  transition: all 0.25s;
}

.bradius-card {
  border-radius: var(--bradius-card);
}

.hover-card:hover {
  transform: scale(1.01); 
}

.selected-card {
  border: 2px dashed var(--color-primary);
  cursor: default;
}

.selected-card:hover {
  transform: none; 
}

.main-icon {
  font-size: 5em;
}

.secondary-icon {
  font-size: 1.9em;
}

.secondary-icons {
  width: 7em;
}

.support-icons {
  height: 5.3em;
}

.icon-size-correction {
  font-size: 1.1em;
}

.vertical-justify-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.vertical-justify-around {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.vertical-justify-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pt-1px {
  padding-top: 1px;
}

.wf-active {
  color: var(--color-active);
}

.Active, .Shared {
  background-color: var(--color-active);
}

.Sharable {
  background-color: var(--primary-color);
}

.wf-paused {
  color: var(--color-paused);
}

.Paused, .Waiting {
  background-color: var(--color-paused);
}

.wf-finished {
  color: var(--color-finished);
}

.New {
  background-color: var(--color-state-new);
}

.Finished, .Executable {
  background-color: var(--color-finished);
}

.wf-canceled {
  color: var(--color-canceled);
}

.Canceled, .Incorrect {
  background-color: var(--color-canceled);
}

.wf-count {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 500;
  width: 2.5em;
  text-align: center;
}

.small-icon-margin {
  margin: 0px 4px;
}

.side-overview {
  width: max(calc(100vw - 1320px - var(--side-bar-small-width)), 324px) !important;
  transition: all 1.0s;
  margin-right: 0px;
  margin-left: 10px;
  max-width: 420px;
}

.side-overview .col-12 {
  width: max(calc(100vw - 1320px - var(--side-bar-small-width)), 324px);
  max-width: 424px;
}

.side-overview .col-12 .col-12 {
  width: 100%;
}

.side-overview .wf-headline {
  margin-top: 0.25rem;
}

.detail-div {
  transition: all 1.0s;
  display: block;
  overflow: hidden;
}

.overview-nav {
  width: 225px;
  margin-left: 10px;
  transition: all 1.0s;
  overflow: hidden;
  height: 80vh;
}

.overview-nav-hide {
  width: 0vw !important;
  margin: 0;
}

.h-200px {
  height: 200px;
}

.schema {
  border-left: 2px solid var(--color-primary);
  padding-left: 7px;
  margin-left: 0.2em;
}

.schema li {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  padding-left: 0.6em;
}

.schema li::marker {
  content: "−";
  color: var(--color-primary);
  font-weight: bold;
}

.text-code {
  font-family: monospace;
}

.border-left {
  border-left: 1px solid var(--color-border);
}

.border-right {
  border-right: 1px solid var(--color-border);
}

.border-top {
  border-top: 1px solid var(--color-border);
}

.border-bottom {
  border-bottom: 1px solid var(--color-border);
}

.border-bottom-2 {
  border-bottom: 2px solid #a5a5a5;
}

.d-flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.attrib-edit {
  position: absolute;
  top: calc(50% - 1.375rem);
  right: 0;
  font-size: 1em;
}

.config-buttons
{
  position: absolute;
  top: 0;
  right: 0;
}

.spec-remove {
  position: absolute;
  top: 0;
  right: 2px;
}

.padr-icon {
  padding-right: 0.1rem !important;
}

.padl-icon {
  padding-left: 0.1rem !important;
}

.bg-success.bg-su-se-change:hover {
  background-color: rgb(var(--bs-secondary-rgb)) !important;
}

.bg-secondary.bg-su-se-change:hover {
  background-color: rgb(var(--bs-success-rgb)) !important;
}

.text-italic {
  font-style: italic;
}

.print-only {
  display: none;
}

.p-icon {
  padding-right: 3px;
  padding-left: 3px;
}

.table-icon {
  padding: 0px 3px;
}

.badge + span.p-icon {
  margin-left: 3.45em;
}

.verbatim {
  white-space: pre-wrap;
  font-family: monospace;
  font-weight: 500;
}

.text-break {
  overflow-wrap: break-word;
}

.mr-100 {
  margin-right: 100px;
}

.table-pad th, .table-pad td {
  padding-top: 0.35rem !important;
  padding-bottom: 0.35rem !important;
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important;
}

.pt-05 {
  padding-top: 0.125rem !important;
}

[data-title] {
  position: relative;
}

[data-title]:hover:after {
  opacity: 1;
  transition: all 0.5s ease-in 0s;
  visibility: visible;
}

[data-title]:after {
  content: attr(data-title);
  background-color: #fff;
  color: #444;
  position: absolute;
  border-radius: 0.75rem;
  padding: 5px 8px;
  top: 100%;
  transform: translate(50%);
  right: 50%;
  -webkit-box-shadow: 0px 0px 6px 0px #aaa; 
  box-shadow: 0px 0px 6px 0px #aaa; 
  opacity: 0;
  z-index: 99;
  visibility: hidden;
  font-size: 1rem;
  width: 100%;
  max-width: max-content;
  cursor: text;
  text-align: initial;
}

.pt-sys-remove {
  padding-top: 0.35rem;
}

.Low {
  background-color: var(--color-prio-low);
}

.Medium {
  background-color: var(--color-prio-medium);
}

.High {
  background-color: var(--color-prio-high);
}

.Urgent {
  background-color: var(--color-prio-urgent);
}

.text-placeholder {
  text-align: center !important;
  color: rgb(var(--bs-secondary-rgb)) !important;
  font-style: italic;
}

.link-p {
  color: var(--color-primary);
  text-decoration: none;
}

.task-icon {
  font-size: 2em;
}

.text-url, .text-url-large {
  font-family: monospace;
  font-size: 0.9rem;
  font-weight: bold;
  word-break: break-all;
}

.text-url-large {
  font-size: 1.2em;
}
