:root {
  --footer-height: 50px;
  --navbar-height: 60px;
  --color-bg-footer: #fff;
  --color-bg-navbar: #fff;
  --color-accent: rgb(85, 0, 255);
  --color-primary: rgb(85, 0, 255);
  --color-required: #750000;
  --side-bar-width: 250px;
  --side-bar-small-width: 80px;
  --bradius-card: 1em;
  --color-active: green;
  --color-finished: rgb(85, 0, 255);
  --color-paused: orange;
  --color-canceled: red;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: var(--footer-height);
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: var(--footer-height);
  background-color: var(--color-bg-footer);
}

.bg-primary {
  background-color: var(--color-primary) !important;
}

.text-bold {
  font-weight: bold;
}

.text-font {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.text-1em {
  font-size: 1em;
}

.text-right {
  text-align: right;
}

.screen-lg {
  display: none;
}

.loading-modal {
  width: 200px;
  height: 200px;
}

.loading-to-detail {
  width: 300px;
  height: 300px;
  position: fixed;
  top: 18vh;
  left: 30vw;
}

.screen-md {
  display: block;
}

.bpmn-block {
  cursor: pointer;
}

.menu-btn {
  color: #000; 
  font-size: 30px; 
  cursor: pointer;
}

.menu-btn:hover{
  font-size: 32px;
  transition: all 0.15s;
}

@media (min-width: 768px) {
  .screen-md {
    display: none !important;
  }

  .screen-lg {
    display: block !important;
  }

  .menu-btn {
    margin-right: 22px; 
    color: #fff; 
    font-size: 40px; 
    cursor: pointer;
  }

  .menu-btn:hover{
    font-size: 44px;
    margin-right: 20px;
    transition: all 0.15s;
  }

  .side-menu-bar {
    width: var(--side-bar-width); 
    background-color: rgb(85, 0, 255); 
    -webkit-box-shadow: 0px 0px 10px 2px #888; 
    box-shadow: 0px 0px 10px 2px #888;
    position: fixed;
    top: 0px;
    bottom: 0px;
    z-index: 99;
    transition: width 0.75s;
    padding: 10px 0px;
  }

  .side-menu-bar-small {
    width: var(--side-bar-small-width) !important; 
  }

  .page-navbar {
    max-height: var(--navbar-height);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: var(--color-bg-navbar) !important;
    -webkit-box-shadow: 0px 0px 6px 3px #cacaca; 
    box-shadow: 0px 0px 6px 3px #cacaca;
    overflow: hidden;
    transition: all 0.35s;
    transition-delay: 350ms;
    margin: 0 3em;
    z-index: 101;
  }

  .page-navbar-content {
    height: var(--navbar-height);
    transition: all 0.35s;
  }

  .page-navbar-modal {
    max-height: fit-content !important;
    margin: 0px max(calc(50vw - 700px), 1em);
    margin-top: 10vh;
    z-index: 101;
    -webkit-box-shadow: 0px 0px 8px 2px #444; 
    box-shadow: 0px 0px 8px 2px #444;
  }

  .page-navbar-transition {
    max-height: fit-content !important;
    padding-top: var(--navbar-height);
    margin: 0px -15px;
    height: calc(100vh - 2rem - var(--footer-height));
    z-index: 0;
    -webkit-box-shadow: none; 
    box-shadow: none;
  }

  .page-content-modal {
    position: fixed;
    top: var(--navbar-height);
    /*height: calc(100vh - var(--navbar-height) - var(--footer-height));*/
    width: calc(100% - var(--side-bar-width) - 30px);
    /*overflow: auto;*/
  }

  .main-content-large .page-content-modal {
    width: calc(100% - var(--side-bar-small-width) - 30px);
  }

  .main-content-large .page-navbar-modal {
    margin: 0px max(calc(50vw - 600px), 1em);
    margin-top: 10vh;
  }

  /*.main-content-large .page-navbar-transition {
    margin: 0px max(calc(50vw - 700px), 1em);
    margin-top: 10vh;
  }*/

  .page-navbar-modal .page-navbar-content, .page-navbar-transition .page-navbar-content {
    margin-top: -60px;
  }

  .main-content {
    position: relative;
    width: calc(100% - var(--side-bar-small-width) - 30px);
    margin-left: calc(var(--side-bar-small-width) + 15px);
  }

  .main-content-large {
    position: relative;
    width: calc(100% - var(--side-bar-small-width) - 30px) !important;
    margin-left: calc(var(--side-bar-small-width) + 15px) !important;
  }

  .footer {
    width: calc(100% - var(--side-bar-small-width));
    margin-left: var(--side-bar-small-width);
  }

  .footer-large {
    width: calc(100% - var(--side-bar-small-width)) !important;
    margin-left: var(--side-bar-small-width) !important;
  }
}

@media (min-width: 992px) {
  .main-content {
    width: calc(100% - var(--side-bar-width) - 20px);
    margin-left: calc(var(--side-bar-width) + 10px);
    transition: all 0.75s;
  }
 
  .footer {
    width: calc(100% - var(--side-bar-width));
    margin-left: var(--side-bar-width);
    transition: all 0.75s;
  } 
}

.side-bar-ul {
  list-style-type: none;
  font-size: 30px;
  width: inherit;
  padding-left: 0;
  color: #ccc;
}

.side-bar-ul li {
  width: inherit;
  color: inherit;
}

.side-bar-ul a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  width: inherit;
  padding-left: 25px;
}

.side-bar-ul span {
  padding-left: 18px;
  font-size: 22px;
  padding-bottom: 3px;
}

.active-nav-item a {
  color: #fff;
}

.side-bar-ul a:hover {
  text-decoration: none;
  color: #fff;
  transition: all 0.25s;
}

.nav-text {
  overflow: hidden;
}

.active-nav-item::before {
  content: '';
  position: absolute;
  left: 0;
  width: 3px;
  height: 38px;
  margin-top: 3px;
  background-color: #fff;
}

.modal-background {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.01);
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

.modal-background-show {
  display: block !important;
  background-color: rgba(0,0,0,0.4);
}

.shadow-box {
  -webkit-box-shadow: 0px 0px 6px 0px #aaa; 
  box-shadow: 0px 0px 6px 0px #aaa;  
}

.shadow-box-in {
  -webkit-box-shadow: inset 0px 0px 2px 1px #aaa; 
  box-shadow: inset 0px 0px 2px 1px #aaa;  
}

.close-icon {
  cursor: pointer;
  transition: all 0.2s;
  font-size: 20px;
}

.close-icon:hover {
  transform: scale(1.1);
}

.bg-ddd {
  background-color: #ddd
}

.pointer {
  cursor: pointer !important;
}

.my-card {
  transition: all 0.25s;
}

.bradius-card {
  border-radius: var(--bradius-card);
}

.hover-card:hover {
  transform: scale(1.02); 
}

.selected-card {
  border: 2px dashed var(--color-primary);
  cursor: default;
}

.selected-card:hover {
  transform: none; 
}

.main-icon {
  font-size: 5em;
}

.secondary-icon {
  font-size: 1.9em;
}

.secondary-icons {
  width: 7em;
}

.support-icons {
  height: 5.3em;
}

.icon-size-correction {
  font-size: 1.1em;
}

.vertical-justify-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%
}

.pt-1px {
  padding-top: 1px;
}

.wf-active {
  color: var(--color-active);
}

.wf-paused {
  color: var(--color-paused);
}

.wf-finished {
  color: var(--color-finished);
}

.wf-canceled {
  color: var(--color-canceled);
}

.wf-count {
  display: inline-block;
  font-weight: 500;
  width: 2.5em;
  margin-bottom: 0.6em;
  text-align: center;
}

.side-overview {
  width: 325px !important;
  transition: all 1.0s;
  margin-right: 0px;
  margin-left: 10px;
}

.side-overview .col-12 {
  width: 325px !important;
}

.detail-div {
  transition: all 1.0s;
  display: block;
  overflow: hidden;
}

.overview-nav {
  width: 225px;
  margin-left: 10px;
  transition: all 1.0s;
  overflow: hidden;
  height: 80vh;
}

.overview-nav-hide {
  width: 0vw !important;
  margin: 0;
}

.h-200px {
  height: 200px;
}

.vertical-justify-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.vertical-justify-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.schema {
  border-left: 2px solid var(--color-primary);
  padding-left: 7px;
  margin-left: 1em;
}

.schema li {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  padding-left: 0.8em;
}

.schema li::marker {
  content: "−";
  color: var(--color-primary);
  font-weight: bold;
}

.schema-div {
  margin-left: -0.5em;
}

.text-code {
  font-family: monospace;
}