:root {
  --footer-height: 50px;
  --navbar-height: 60px;
  --color-bg-footer: #fff;
  --color-bg-navbar: #fff;
  --color-accent: rgb(85, 0, 255);
  --color-required: #750000;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: var(--footer-height);
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: var(--footer-height);
  background-color: var(--color-bg-footer);
}

h1, h2 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.screen-lg {
  display: none;
}

.screen-md {
  display: block;
}

.menu-btn {
  color: #000; 
  font-size: 30px; 
  cursor: pointer;
}

.menu-btn:hover{
  font-size: 32px;
  transition: all 0.15s;
}

@media (min-width: 768px) {
  .screen-md {
    display: none !important;
  }

  .screen-lg {
    display: block !important;
  }

  .menu-btn {
    margin-right: 22px; 
    color: #fff; 
    font-size: 40px; 
    cursor: pointer;
  }

  .menu-btn:hover{
    font-size: 44px;
    margin-right: 20px;
    transition: all 0.15s;
  }

  .side-menu-bar {
    width: 270px; 
    background-color: rgb(85, 0, 255); 
    -webkit-box-shadow: 0px 0px 10px 2px #888; 
    box-shadow: 0px 0px 10px 2px #888;
    position: fixed;
    top: 0px;
    bottom: 0px;
    z-index: 99;
    transition: width 0.75s;
    padding: 10px 0px;
  }

  .side-menu-bar-small {
    width: 80px !important; 
  }

  .page-navbar {
    max-height: var(--navbar-height);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: var(--color-bg-navbar) !important;
    -webkit-box-shadow: 0px 0px 8px 2px #999; 
    box-shadow: 0px 0px 8px 2px #999;
    overflow: hidden;
    transition: all 0.35s;
    transition-delay: 350ms;
    margin: 0 1.8em;
  }

  .page-navbar-content {
    height: var(--navbar-height);
    transition: all 0.35s;
  }

  .page-navbar-modal {
    max-height: fit-content !important;
    margin: 0px max(calc(50vw - 700px), 1em);
    margin-top: 10vh;
    z-index: 101;
    -webkit-box-shadow: 0px 0px 8px 2px #444; 
    box-shadow: 0px 0px 8px 2px #444;
  }

  .main-content-large .page-navbar-modal {
    margin: 0px max(calc(50vw - 600px), 1em);
    margin-top: 10vh;
  }

  .page-navbar-modal .page-navbar-content {
    margin-top: -60px;
  }

  .main-content {
    width: calc(100% - 110px);
    margin-left: 95px;
  }

  .main-content-large {
    width: calc(100% - 110px) !important;
    margin-left: 95px !important;
  }

  .footer {
    width: calc(100% - 80px);
    margin-left: 80px;
  }

  .footer-large {
    width: calc(100% - 80px) !important;
    margin-left: 80px !important;
  }
}

@media (min-width: 992px) {
  .main-content {
    width: calc(100% - 300px);
    margin-left: 285px;
    transition: all 0.75s;
  }
 
  .footer {
    width: calc(100% - 270px);
    margin-left: 270px;
    transition: all 0.75s;
  } 
}

.side-bar-ul {
  list-style-type: none;
  font-size: 30px;
  width: inherit;
  padding-left: 0;
  color: #ccc;
}

.side-bar-ul li {
  width: inherit;
  color: inherit;
}

.side-bar-ul a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  width: inherit;
  padding-left: 25px;
}

.side-bar-ul span {
  padding-left: 18px;
  font-size: 22px;
  padding-bottom: 3px;
}

.active-nav-item a {
  color: #fff;
}

.side-bar-ul a:hover {
  text-decoration: none;
  color: #fff;
  transition: all 0.25s;
}

.nav-text {
  overflow: hidden;
}

.active-nav-item::before {
  content: '';
  position: absolute;
  left: 0;
  width: 3px;
  height: 38px;
  margin-top: 3px;
  background-color: #fff;
}

.modal-background {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.01);
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

.modal-background-show {
  display: block !important;
  background-color: rgba(0,0,0,0.4);
}

.shadow-box {
  -webkit-box-shadow: 0px 0px 3px 1px #aaa; 
  box-shadow: 0px 0px 3px 1px #aaa;  
}

.shadow-box-in {
  -webkit-box-shadow: inset 0px 0px 2px 1px #aaa; 
  box-shadow: inset 0px 0px 2px 1px #aaa;  
}

.close-icon {
  cursor: pointer;
  transition: all 0.2s;
  font-size: 20px;
}

.close-icon:hover {
  transform: scale(1.1);
}

.bg-ddd {
  background-color: #ddd
}

.pointer {
  cursor: pointer !important;
}

.input {
  position: relative;
  width: 100%;
}

.input-label {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0.2rem 0.2rem;
  margin: 0.4rem 0.5rem;
  white-space: nowrap;
  transform: translate(0, 0);
  transform-origin: 0 0;
  transition: transform 120ms ease-in;
  font-weight: bold;
  line-height: 1.2;
  background-color: #fff;
  color: #555;
  cursor: text;
}

.input-label:hover {
  color: var(--color-accent);
}

.input-field, .input-file, .input-select {
  display: block;
  width: 100%;
  padding: 0.4rem 0.5rem;
  border: none;
  -webkit-box-shadow: inset 0px 0px 2px 1px #aaa; 
  box-shadow: inset 0px 0px 2px 1px #aaa;
  background-color: #fff;
}

.input-field:focus {
  outline: none;
  background-color: #fff;
}

.input-field:focus + .input-label, .input-field:not(:placeholder-shown) + .input-label, .input-file-chosen {
  transform: translate(0.25rem, -68%) scale(0.9);
  color: var(--color-accent);
  padding: 0rem 0.2rem;
}

.input-select {
  background: none;
  padding: 0.526rem 0.5rem;
}


.input-select option {
  padding: 0.2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 0px;
}

input[type=file] {
  color: #fff;
  cursor: pointer;
}

input[type=file]::file-selector-button, input[type=file]::-webkit-file-upload-button  {
  display: none;
}

input[type=file]:focus {
  -webkit-box-shadow: inset 0px 0px 2px 1px #aaa; 
  box-shadow: inset 0px 0px 2px 1px #aaa;
}

input[type=file]::after {
  content: "Vyberte soubor";
  color: #000;
  float: right;
  background-color: #ccc;
  margin: -0.4rem -0.5rem -0.4rem -0.5rem;
  padding: 0.4rem 0.5rem 0.4rem 0.5rem;
  cursor: pointer;
}

input[type=file]:hover::after {
  color: #fff;
  background-color: var(--color-accent);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition-delay: 99999s;
    -webkit-transition: color 99999s ease-out, background-color 99999s ease-out;
    transition-delay: 99999s;
    transition: color 99999s ease-out, background-color 99999s ease-out;
}

.compulsory-color {
  color: var(--color-required) !important;  
}
