
.text-placeholder {
  text-align: center !important;
  color: rgb(var(--bs-secondary-rgb)) !important;
  font-style: italic;
}

.text-code {
  font-family: monospace;
}

.text-descr {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.text-url, .text-url-large {
  font-family: monospace;
  font-size: 0.9rem;
  font-weight: bold;
  word-break: break-all;
}

.text-url-large {
  font-size: 1.2em;
}

.link-p {
  color: var(--color-primary);
  text-decoration: none;
}

.text-prim {
  color: var(--color-primary);
}

.text-prim-edit:hover {
  color: var(--color-primary);
}

.text-prim-edit.text-prim:hover {
  color: unset;
}

.text-bold {
  font-weight: bold;
}

.text-normal {
  font-weight: normal;
}

.text-default {
  font-size: unset;
  font-weight: unset;
}

.text-font {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.text-1em {
  font-size: 1em;
}

.text-1p2m {
  font-size: 1.2em;
}

.text-large {
  font-size: 1.25em;
}

.text-small {
  font-size: 0.9rem;
}

.text-right {
  text-align: right;
}

.empty-name:empty::before {
  content: "Bez názvu";
  font-style: italic;
  color: var(--color-secondary);
}

.source-name {
  padding: 0.91rem 0.25rem 0.35rem 0rem;
  font-weight: bold;
}

.text-filter {
  margin-top: 1.25rem;
}

.text-remove:hover {
  color: red;
}

.user-name {
  font-size: medium !important;
  color: #fff;
}

.text-alert {
  color: var(--color-danger);
}
