@model IServiceTaskWorkflowConfigDTO

<div class="col-12 col-lg-6 mt-3">
    <label class="input">
        <div class="readonly-div">@Model.ServiceName</div>
        <span class="input-label">Název webové služby</span>
    </label>
</div>
