@model List<TaskDataDTO>

@if (Model.Count > 0)
{
    @foreach (TaskDataDTO task in Model)
    {
        switch (task)
        {
            case ITaskString taskString:
                @await Html.PartialAsync("../Task/Partial/_TaskDataNotEditable", (task, taskString.Value))
                break;

            case ITaskNumber taskNumber:
                @await Html.PartialAsync("../Task/Partial/_TaskDataNotEditable", (task, taskNumber.Value.ToString()))
                break;

            case ITaskText taskText:
                @await Html.PartialAsync("../Task/Partial/_TaskDataNotEditable", (task, taskText.Value))
                break;
            
            case ITaskDate taskDate:
                @await Html.PartialAsync("../Task/Partial/_TaskDataNotEditable", (task, taskDate.Value?.ToString()))
                break;

            case ITaskSelect taskSelect:
                @await Html.PartialAsync("../Task/Partial/_TaskDataNotEditable", (task, taskSelect.Value))
                break;

            case ITaskBool taskBool:
                @await Html.PartialAsync("../Task/Partial/_TaskDataNotEditable", (task, taskBool.Value?.ToString()))
                break;

            case ITaskFile taskFile:
                @await Html.PartialAsync("../Task/Partial/_TaskFileNotEditable", taskFile)
                break;
            
            case ITaskArray taskArray:
                @await Html.PartialAsync("../Task/Partial/_TaskArrayNotEditable", taskArray)
                break;
        }
    }
}
else
{
    <div class="text-placeholder mt-3">Blok nemá žádná výstupní data.</div>
}
