@model Guid

<div class="d-flex justify-content-between px-4 page-navbar-content">
    <i class="fas fa-chevron-circle-left my-auto"></i>
    <h1 class="mb-0 pt-1 text-font">Detail Agendy</h1>
    <div class="my-auto">
        <button class="butn btn-p" onclick="ShowModal('UploadModelId', null, null, ValidateModelUplaod)">Nahrát model</button>
        <button class="butn btn-p" onclick="ShowModal('UploadModelId', null, null, ValidateModelUplaod)">Upravit</button>
    </div>
</div>
<form id="UploadModelId" class="mx-4 mt-4 mb-3 d-none" method="POST" action="/ModelUpload/Upload" enctype="multipart/form-data">
    <input type="hidden" name="AgendaId" value="@Model">
    <div class="d-flex justify-content-between align-content-center py-2 px-3 shadow-box mb-3 bg-ddd">
        <h2 class="mb-0">Nahrání modelu</h2>
        <i class="fas fa-times my-auto close-icon" onclick="HideModal()"></i>
    </div>
    <div class="row">
        <div class="col-12 mt-1">
            <label class="input">
                <input id="ModelNameId" class="input-field" type="text" placeholder=" " name="Name" autocomplete="off" />
                <span class="input-label color-required">Název</span>
            </label>
        </div>
        <div class="col-12 col-md-6 mt-3">
            <label class="input">
                <input id="BpmnFileId" class="input-file" type="file" onchange="FileSelected(this)" name="BPMN" accept=".bpmn"/>
                <span class="input-label pointer color-required">Soubor BPMN</span>
            </label>
        </div>
        <div class="col-12 col-md-6 mt-3">
            <label class="input">
                <input id="SvgFileId" class="input-file" type="file" onchange="FileSelected(this)" name="SVG" accept=".svg" />
                <span class="input-label pointer color-required">Soubor SVG</span>
            </label>
        </div>
    </div>
    <div class="d-flex justify-content-center mt-3">
        <button id="UploadModelBtnId" type="submit" class="butn btn-s" disabled>Nahrát</button>
    </div>
</form>
<div id="ModelModalId" class="d-none p-3">
    <div class="d-flex">
        <div class="container-lg">

        </div>
        <div class="overview-nav">

        </div>
    </div>
</div>
