@model List<SystemAllDTO>

<div class="col-12 mt-1 mb-3">
    @if (Model.Count > 0)
    {
        <label class="input">
            <select required class="input-select" name="SystemId"> 
                @foreach (SystemAllDTO system in Model)
                {
                    <option value="@system.Id" >@system.Name @(String.IsNullOrEmpty(system.URL) ? "" : $"({system.URL})")</option>
                }
            </select>
            <span class="input-label">Systém</span>
        </label>
    }
    else
    {
        <div class="text-placeholder">Agenda má již přiřazeny všechny systémy.</div>
    }
</div>
<div class="d-flex justify-content-center">
    <button type="submit" class="butn btn-s" @(Model.Count == 0 ? "disabled" : "")>Přidat systém</button>
</div>
