@model List<SystemAllDTO>

@foreach (SystemAllDTO system in Model)
{
    <div class="shadow-box px-3 py-2 mb-3 my-card bradius-card">
        <div class="d-flex justify-content-between">
            <div class="my-auto">
                <b>@system.Name</b> 
                (@system.URL)
            </div>
            <div>
                <button id="@system.Id" type="button" class="btn btn-sm d-none" onclick="RemoveUser(this)"><i class="fas fa-times"></i></button>
                <button class="btn py-1" type="button" onclick="EditRole(this)"><i class="fas fa-edit"></i></button>
            </div>
        </div>
    </div>
}