@model AgendaDetailInfoDTO
<h1 class="text-center text-font mb-0">@Model.Name</h1>
<div class="row">
    <div class="col-12 col-lg-6">
        <h4 class="text-center text-font my-1">Správce</h4>
        <div class="d-flex justify-content-center">
            <div class="me-1">
                Jméno:<br>
                Email:
            </div>
            <b class="d-block ms-1">
                @Model.AdministratorName<br>
                @Model.AdministratorEmail
            </b>
        </div>
    </div>
    <div class="col-12 col-lg-6">
        <h4 class="text-center text-font my-1">Popis</h4>
        @if (String.IsNullOrEmpty(Model.Description))
        {
            <div class="text-placeholder">Agenda nemá popis.</div>
        }
        else
        {
            @Model.Description
        }
    </div>
</div>