@model List<ModelAllDTO> 

<div class="d-flex justify-content-around">
    <h3 class="text-center text-font mb-0">Modely agendy</h3>
    <button class="butn btn-p" onclick="ShowModal('UploadModelFormId')">Nahrát model</button>
</div>

@if (Model.Count > 0)
{
    @foreach (ModelAllDTO modl in Model)
    {
        <div id="@modl.Id" class="shadow-box p-3 m-3 my-card bradius-card hover-card pointer" onclick="ShowModelModal(this)">
            <div>
                <h3 class="text-center border-bottom">@modl.Name</h3>
            </div>
            @Html.Raw(modl.SVG)
        </div>
    }
}
else
{
    <div class="text-secondary text-center text-italic mt-3">Agenda nemá žádné modely.</div>
}