@model AgendaDetailPartialDTO
@{
    ViewData["Title"] = "Detail agendy";
}

@if (Model != null)
{
    <div id="AgendaInfoId" class="border-bottom pb-1 mb-2">
        @await Html.PartialAsync("Partial/_AgendaInfo", Model)        
    </div>
    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="d-flex justify-content-around">
                <h3 class="text-center text-font mb-0">Role a uživatelé</h3>
                <button class="butn btn-p" onclick="ShowModal('AddRoleFormId', '/Agenda/AddRole/@Model.Id', 'AddRoleId', false)">Přidat roli</button>
            </div>
            <div id="AgendaRolesId" class="row">

            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="d-flex justify-content-around">
                <h3 class="text-center text-font mb-0">Modely agendy</h3>
                <button class="butn btn-p" onclick="ShowModal('UploadModelFormId')">Nahrát model</button>
            </div>
            @foreach (AllModelDTO modl in Model.Models)
            {
                <div id="@modl.Id" class="shadow-box p-3 m-3 my-card bradius-card hover-card pointer" onclick="ShowModelModal(this)">
                    <h3 class="text-center border-bottom pb-1">@modl.Name</h3>
                    @Html.Raw(modl.SVG)
                </div>
            }
        </div>
    </div>
    <div class="row">
        <h3 class="text-center text-font">Aktivní workflow</h3>
    </div>
}