@model AgendaDetailPartialDTO
@{
    ViewData["Title"] = "Detail agendy";
}

@if (Model != null)
{
    <div id="DetailInfoId" class="pb-1 mb-3">
        @await Html.PartialAsync("Partial/_AgendaDetailInfo", Model)        
    </div>
    <div class="row">
        <div class="col-12 col-lg-6">
            <h3 class="text-center text-font">Řešitelské role</h3>
            <div id="AgendaRolesId" class="row mt-3">
                @await Html.PartialAsync("Partial/_AgendaRoles", Model.Roles)
            </div>
            <h3 class="text-font text-center">Spolupracující systémy</h3>
            <div id="AgendaSystemsId">
                @await Html.PartialAsync("Partial/_AgendaSystems", Model.Systems)
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <h3 class="text-center text-font">Modely agendy</h3>
            @await Html.PartialAsync("Partial/_AgendaModels", Model.Models)
        </div>
    </div>
    <div class="svg">
        @await Html.PartialAsync("Partial/_AgendaWorkflows", Model.Workflows)
    </div>
}