<div class="d-flex justify-content-between px-4 page-navbar-content">
    <button type="button" class="btn my-auto"><i class="fas fa-info-circle my-auto position-relative"></i></button>
    <h1 class="my-auto text-font">Úkoly</h1>
    <div class="my-auto nav-placeholder"></div>
</div>