@model (List<TaskDataDTO> data, bool editable)

@if (Model.data.Count() > 0)
{
    <div class="row">
        @if (Model.editable)
        {
            @foreach (TaskDataDTO task in Model.data)
            {
                switch (task)
                {
                    case ITaskString taskString:
                        @await Html.PartialAsync("Partial/_TaskDataString", taskString)
                        break;

                    case ITaskNumber taskNumber:
                        @await Html.PartialAsync("Partial/_TaskDataNumber", taskNumber)
                        break;

                    case ITaskText taskText:
                        @await Html.PartialAsync("Partial/_TaskDataText", taskText)
                        break;
                    
                    case ITaskBool taskBool:
                        @await Html.PartialAsync("Partial/_TaskDataBool", taskBool)
                        break;
                    
                    case ITaskDate taskDate:
                        @await Html.PartialAsync("Partial/_TaskDataDate", taskDate)
                        break;
                    
                    case ITaskSelect taskSelect:
                        @await Html.PartialAsync("Partial/_TaskDataSelect", taskSelect)
                        break;
                    
                    case ITaskFile taskFile:
                        @await Html.PartialAsync("Partial/_TaskDataFile", taskFile)
                        break;
                    
                    case ITaskArray taskArray:
                        @await Html.PartialAsync("Partial/_TaskDataArray", taskArray)
                        break;
                }
            }
        }
        else
        {
            @foreach (TaskDataDTO task in Model.data)
            {
                switch (task)
                {
                    case ITaskString taskString:
                        @await Html.PartialAsync("Partial/_TaskDataNotEditable", (task, taskString.Value))
                        break;

                    case ITaskNumber taskNumber:
                        @await Html.PartialAsync("Partial/_TaskDataNotEditable", (task, taskNumber.Value.ToString()))
                        break;

                    case ITaskText taskText:
                        @await Html.PartialAsync("Partial/_TaskDataNotEditable", (task, taskText.Value))
                        break;
                }
            }
        }
    </div>
}
else
{
    <div class="text-placeholder mt-1">V této sekci nemá úkol žádná data.</div>
}
