@model UserTaskDetailHeaderDTO

<div class="d-flex justify-content-between px-4 page-navbar-content">
    <button type="button" class="btn my-auto me-5"><i class="fas fa-chevron-circle-left my-auto"></i></button>
    <h1 class="my-auto text-font">Detail úkolu</h1>
    <div class="my-auto">
        <button class="butn btn-s" onclick="SaveTaskData()">Uložit</button>
        <button type="submit" form="TaskDataFormId" class="butn btn-s" onclick="SolveTask()">Vyřešit</button>
    </div>
</div>
