@model UserTaskDetailHeaderDTO

<div class="d-flex justify-content-between px-4 page-navbar-content">
    <div class="my-auto">   
        <button type="button" class="btn my-auto" onclick="OverviewTransition('/Task/OverviewPartial')">
            <i class="fas fa-chevron-circle-left"></i>
        </button>
        <button type="button" class="btn my-auto"><i class="fas fa-info-circle my-auto"></i></button>
    </div>
    <h1 class="my-auto text-font">Detail úkolu</h1>
    <div class="my-auto nav-placeholder">
        @if (Model.State == BlockWorkflowStateEnum.Active)
        {
            <button class="butn btn-s" onclick="SaveUserTask()">Uložit</button>
            <button type="submit" form="TaskDataFormId" class="butn btn-s" onclick="SolveUserTask()">Vyřešit</button>
        }
    </div>
</div>
