[Unit]  
Description=Echo_API
[Service]
WorkingDirectory=/var/dotnet/echo_api  
ExecStart=dotnet /var/dotnet/echo_api/echo_API.dll --urls="http://127.0.0.1:5102"
Restart=always  
RestartSec=10  
SyslogIdentifier=netcore-demo  
User=www-data  
Environment=ASPNETCORE_ENVIRONMENT=api  
[Install]
WantedBy=multi-user.target
 
