@model BlockModelConfigDTO

@if (Model != null)
{
    <form id="BlockEditFormId" class="row mt-1">
        <div class="col-12">
            <label class="input">
                <input name="Name" class="input-field" type="text" placeholder=" " data-reqi="BlockNameLabelId" value="@Model.Name" />
                <span id="BlockNameLabelId" class="input-label">Název</span>
            </label>
        </div>
        <h4 class="mt-3">Atributy bloku</h4>
        @if (Model is IUserTaskConfigDTO)
        {   
            @await Html.PartialAsync("Partial/_UserTaskConfig", (Model as IUserTaskConfigDTO)?.Attributes)
        }
        else
        {
            <p class="text-center mb-2">
                Blok nemá konfigurovany žádné atributy.
            </p>
        }
    </form>
    <form id="AttribCreateFormId" class="row d-none" method="post" action="/BlockModel/CreateEditAttribute" 
          onsubmit="BlockConfigSubmit(event, 'BlockConfigTargetId')" oninput="InputValidator(this)">
        <input type="hidden" name="Id" value="" />
        <input type="hidden" name="ParentId" value="null" />
        <input type="hidden" name="BlockId" value="@Model.Id" />
        <h5>Nový atributy bloku</h5>
        <div class="col-5">
            <label class="input">
                <input name="Name" class="input-field" data-reqi="AttribNameLabelId" type="text" placeholder=" " value="" />
                <span id="AttribNameLabelId" class="input-label color-required">Název</span>
            </label>
        </div>
        <div class="col-4">
            <label class="input">
                <select class="input-field input-select" name="DataType"> 
                    @foreach (AttributeTypeEnum enumVal in Enum.GetValues(typeof(AttributeTypeEnum)))
                    {
                        <option value="@enumVal">@enumVal.ToLabel()</option>   
                    }
                </select>
                <span class="input-label">Typ</span>
            </label>
        </div>  
        <div class="col-3 vertical-justify-center justify-content-center">
            <div class="d-flex justify-content-center">
                <span id="CompulsoryLabelId" class="label-checkbox label-checkbox-checked">Povinnost</span>
                <input type="checkbox" id="CompulsoryId" name="Compulsory" class="checkbox" data-ch="CompulsoryLabelId" checked/>
            </div>
        </div>
        <div class="col-12 mt-2">
            <label class="input">
                <textarea name="Description" class="input-field" type="text" placeholder=" "></textarea>
                <span class="input-label">Popis</span>
            </label>
        </div>
    </form>
    <div class="d-flex justify-content-center mt-3">
        <button type="button" id="NewAttBtnId" class="butn btn-p" onclick="ShowAddAttrib()">Přidat atribut</button>
        <button type="submit" form="BlockEditFormId" id="EditBtnId" class="butn btn-s" disabled>Upravit</button>
        <button type="submit" form="AttribCreateFormId" id="CreateAttBtnId" class="butn btn-s d-none" disabled>Vytvořit atribut</button>
        <button type="button" id="CancelAttBtnId" class="butn btn-d d-none" onclick="CancelAddAttrib()">Zrušit</button>
    </div>
}
