@model IEnumerable<BlockDataSchemaNodeDTO>

@if (Model != null && Model.Count() > 0)
{
    <ul>
        @foreach (BlockDataSchemaNodeDTO node in Model)
        {
            <li>
                @node.Name
                @if (node.DataType == DataTypeEnum.Object)
                {
                    @await Html.PartialAsync("_BlockDataSchema", node.Children)
                }
            </li>
        }
    </ul>
}
