@model IServiceOutputAttributes

@if (Model.ServiceOutputAttributes != null)
{
    <h4 class="mt-2">Atributy získané voláním webové služby</h4>
    @if (Model.ServiceOutputAttributes.Count > 0)
    {
        <div class="row border-bottom-2">
            <div class="col-5 text-center text-bold">
                Název
            </div>
            <div class="col-5 text-center text-bold">
                Typ
            </div>
            <div class="col-2 text-center text-bold">
                Povinný
            </div>
        </div>
        @foreach (DataSchemaAttributeDTO attrib in Model.ServiceOutputAttributes)
        {
            <div class="row border-bottom pt-1 pb-1">
                <div class="col-5 text-center text-bold pt-05">@attrib.Name</div>
                <div class="col-5 text-center text-code pt-1">@attrib.Type.ToLabel()</div>
                <div class="col-2 text-center">
                    <span class="badge @(attrib.Compulsory ? "bg-primary" : "bg-secondary") rounded-pill text-1em">
                        <i class="fas fa-check-circle"></i>
                    </span>
                </div>    
            </div>
        }
    }
    else
    {
        <div class="mb-2 text-center text-secondary text-italic">
            Webová služba nemá žádné výstupní atributy.
        </div>  
    }
}