@model IServiceConfig

<label class="input">
    <select required class="input-select" name="ServiceId"> 
        @foreach (ServiceIdNameDTO item in Model.Services)
        {
            if (item.Id == Model.CurrentService)
            {
                <option value="@item.Id" selected>@item.Name</option>
            }
            else
            {
                <option value="@item.Id">@item.Name</option>
            }
        }
    </select>
    <span class="input-label">Webová služba</span>
</label>
