@model Guid 

<form id="AttribServiceFormId" class="row d-none" method="post" action="/Service/CreateEditSchema" 
      oninput="InputValidator(this)">
    <input id="IdId" type="hidden" name="Id" value="" />
    <input id="ParentId" type="hidden" name="ParentId" value="" />
    <input type="hidden" name="ServiceId" value="@Model" />
    <input id="DirectionId" type="hidden" name="Direction" value="" />
    <h5 id="HeadlineId" class="text-center col-12"></h5>
    <div class="col-6 mb-3">
        <label class="input">
            <input id="NameId" name="Name" class="input-field" data-reqi="AttribNameLabelId" type="text" placeholder=" " value="" />
            <span id="AttribNameLabelId" class="input-label color-required">Název</span>
        </label>
    </div>
    <div class="col-6 mb-3">
        <label class="input">
            <input id="AliasId" name="Alias" class="input-field" type="text" placeholder=" " value="" />
            <span class="input-label">Alias</span>
        </label>
    </div>
    <div class="col-6 mb-3">
        <label class="input">
            <select class="input-select" name="Type"> 
                @foreach (DataTypeEnum value in Enum.GetValues(typeof(DataTypeEnum)))
                {
                    <option value="@value">@value.ToLabel()</option>
                }
            </select>
            <span class="input-label">Typ</span>
        </label>
    </div>  
    <div class="col-3 vertical-justify-center mb-3">
        <label class="d-flex justify-content-center">
            <input id="CompulsoryId" type="checkbox" name="Compulsory" class="checkbox" checked/>
            <span class="label-checkbox">Povinný</span>
        </label>
    </div>
    <div class="col-3 vertical-justify-center mb-3">
        <label class="d-flex justify-content-center">
            <input id="DataChId" name="DataToggle" type="checkbox" class="checkbox" onchange="ToggleStaticData(this)"/>
            <span  class="label-checkbox">Data</span>
        </label>
    </div>
    <div class="col-12">
        <label id="StaticDataId" class="input d-none mb-3">
            <input name="StaticData" class="input-field" type="text" placeholder=" " value=""/>
            <span class="input-label">Statická data</span>
        </label>
    </div>
    <div class="col-12 d-flex justify-content-center">
        <input id="CrateEditBtnId" form="AttribServiceFormId" type="submit" class="butn btn-s" value="Vytvořit" />
        <button type="button" class="butn btn-d" onclick="AttribCancel()">Zrušit</button>
    </div>
</form>
    