@model (IEnumerable<ServiceDataSchemaNodeDTO> nodes, DirectionEnum direction, Guid id)

<div class="col-12 col-xl-6">
    <div class="d-flex justify-content-between mb-2">
        <h4 class="mt-1 mb-0" >@(Model.direction == DirectionEnum.Input ? "Vstupní" : "Výtupní") atributy</h4>
        <div>
            @if (Model.direction == DirectionEnum.Input)
            {
                @if (Model.id == Guid.Empty)
                {
                    <button type="button" class="butn btn-p" title="Nejdříve je nutné službu vytvořit." disabled>Testovat</button>    
                    <button type="button" class="butn btn-p" title="Nejdříve je nutné službu vytvořit." disabled>Přidat</button>
                }
                else
                {
                    <button id="ServiceTestBtnId" type="button" class="butn btn-p" onclick="TestService(this, '@Model.id')">Testovat</button>    
                    <button id="AddInputBtnId" type="button" class="butn btn-p" onclick="InputAttribAdd(this)">Přidat</button>
                }
            }
        </div>
    </div>
    <div id="@(Model.direction)SchemaId">
        @await Html.PartialAsync("Partial/_ServiceDataSchema", (Model.nodes, Model.direction))
    </div>
</div>