@model IEnumerable<ServiceDataSchemaNodeDTO>

@if (Model != null && Model.Count() > 0)
{
    <ul class="schema">
        @foreach (ServiceDataSchemaNodeDTO node in Model)
        {
            <li>
                <div class="d-flex justify-content-between">
                    <div>
                        @node.Name @(String.IsNullOrEmpty(node.Alias) ? "" : $"({node.Alias})")
                    </div>
                    <div>
                        @if (node.Type == DataTypeEnum.Object)
                        {
                            <button type="button" class="butn butn-sm btn-p" onclick="ShowNestedAttCreate()">
                                <i class="fas fa-plus"></i>
                            </button>
                        }
                    </div>
                </div>
                @if (node.Type == DataTypeEnum.Object)
                {
                    @await Html.PartialAsync("Partial/_ServiceDataSchema", node.Children)
                }
            </li>
        }
    </ul>
}
