@model SystemOverviewDTO
@{
    ViewData["Title"] = "Systémy";
}
<script src="~/js/System/System.js"></script>

<div id="PageNavId" class="page-navbar">
    <div class="d-flex justify-content-between px-4 page-navbar-content">
        <button type="button" class="btn my-auto"><i class="fas fa-chevron-circle-left my-auto"></i></button>
        <h1 class="my-auto text-font">@ViewData["Title"]</h1>
        <div class="my-auto">
            <button class="butn btn-p" onclick="ShowModal('CreateSystemFormId')">Vytvořit</button>
        </div>
    </div>
    <form id="CreateSystemFormId" class="mx-4 mt-4 mb-3" method="POST" action="/System/Create">
        <div class="d-flex justify-content-between align-content-center py-2 px-3 shadow-box mb-3 bg-ddd">
            oninput="InputValidator(this)">
            <h2 class="mb-0 text-font">Tvorba systému</h2>
            <i class="fas fa-times my-auto close-icon" onclick="HideModal()"></i>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6 mb-3">
                <label class="input">
                    <input required class="input-field" type="text" placeholder=" " name="Name" value="" />
                    <span class="input-label">Název</span>
                </label>
            </div>
            <div class="col-12 col-lg-6 mb-3">
                <label class="input">
                    <input required class="input-field" type="text" placeholder=" " name="URL" value="" />
                    <span class="input-label">URL systému</span>
                </label>
            </div>
            <div class="col-12 mb-3">
                <label class="input">
                    <textarea class="input-field" name="Description" placeholder=" "></textarea>
                    <span class="input-label">Popis</span>
                </label>
            </div>
            <div class="d-flex justify-content-center">
                <button form="CreateSystemFormId" type="submit" class="butn btn-s" disabled>Vytvořit</button>
            </div>
        </div>
    </form>
</div>
<div id="PageContentId" class="d-flex pt-3">
    <div id="DetailDivId" class="d-none detail-div">
        <div class="loading-content"></div>
    </div>
    <div id="OverviewDivId" class="container-lg">
        @await Html.PartialAsync("Partial/_SystemOverview", Model.Systems)
    </div>
    <div id="OverviewNavId" class="overview-nav" onclick="FilterChanges(event, '/System/Filter')">
        <h2 class="text-font text-center mt-4 border-bottom mb-1">Filtrování</h2>
        @foreach (FilterTypeEnum value in Enum.GetValues<FilterTypeEnum>().Where(x => x.ToString().StartsWith("System")))
        {
            <div id="@value" class="filter-div @(ViewBag.Filters[((int)value)] ? "filter-div-sel" : "")">@value.ToLabel()</div>   
        }
    </div>
</div>