@model SystemOverviewDTO
@{
    ViewData["Title"] = "Spolupracující systémy";
}

<div id="PageNavId" class="page-navbar">
    <div class="d-flex justify-content-between px-4 page-navbar-content">
        <button type="button" class="btn my-auto"><i class="fas fa-chevron-circle-left my-auto"></i></button>
        <h1 class="my-auto text-font">@ViewData["Title"]</h1>
        <div class="my-auto">
            <a class="butn btn-p" href="/Service/Create">Vytvořit</a>
        </div>
    </div>
</div>
<div id="PageContentId" class="d-flex pt-3">
    <div id="DetailDivId" class="d-none detail-div">
        <div class="d-flex justify-content-between">
            <img src="~/loading.svg" class="loading-to-detail">
        </div>
    </div>
    <div id="OverviewDivId" class="container-lg">
        <div class="row">
            @foreach (SystemAllDTO systems in Model.Systems)
            {
                <div id="@systems.Id" class="col-12 col-md-6 col-lg-4">    
                    <div class="shadow-box p-3 my-card bradius-card hover-card pointer">
                        <h3 class="border-bottom text-center">@systems.Name</h3>
                        <div class="text-url text-center">@systems.URL</div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div id="OverviewNavId" class="overview-nav">

    </div>
</div>