@model string

<h2 class="text-font text-center text-filter border-bottom mb-1">Filtrování</h2>
@foreach (FilterTypeEnum value in Enum.GetValues<FilterTypeEnum>().Where(x => x.ToString().StartsWith(Model)))
{
    <div id="@value" class="filter-div @(ViewBag.Filters[((int)value)] ? "filter-div-sel" : "")">@value.ToLabel()</div>   
}