@model WorkflowOverviewDTO
@{
    ViewData["title"] = "Workflow";
}
<script src="~/js/Workflow/Workflow.js"></script>
<script>
    const ActiveBlocks = @(Html.Raw(JsonConvert.SerializeObject(Model.ActiveBlocks)));
</script>

<div id="PageNavId" class="page-navbar">
    <h1 class="mt-1 text-font text-center page-navbar-content">@ViewData["title"]</h1>
</div>
<div id="PageContentId" class="d-flex pt-3">
    <div id="DetailDivId" class="d-none detail-div">
        <div class="loading-content"></div>
    </div>
    <div id="OverviewDivId" class="container-lg">
        <div class="row">
            @foreach (WorkflowAllDTO workflow in Model.Workflows)
            {
                @await Html.PartialAsync("Partial/_WorkflowCard", (workflow, false))   
            }
        </div>
    </div>
    <div id="OverviewNavId" class="overview-nav">

    </div>
</div>
