@model ModelDetailDTO
@{
    ViewData["Title"] = "Detail modelu";
}
<script src="~/js/Model/Model.js"></script>
<script>
    const RoleForEdit = "@((bool)ViewData[SystemRoleEnum.ModelKeeper.ToString()] || (bool)ViewData[SystemRoleEnum.Admin.ToString()])" == "True";
    const ActiveBlocks = @(Html.Raw(JsonConvert.SerializeObject(Model.ActiveBlocks)));
</script>

<div id="PageNavId" class="page-navbar">
    @await Html.PartialAsync($"Partial/_ModelDetailHeader", Model)
</div>
<div id="PageContentId" class="d-flex pt-3">
    <div id="DetailDivId" class="detail-div container-lg">
        @await Html.PartialAsync("Partial/_ModelDetail", Model)
    </div>
    <div id="OverviewDivId" class="container-lg side-overview">
        <div class="row">
            @await Html.PartialAsync("Partial/_ModelCard", (Model.SelectedModel, true))
            @foreach (ModelAllDTO agenda in Model.OtherModels)
            {
                @await Html.PartialAsync("Partial/_ModelCard", (agenda, false))
            }
        </div>
    </div>
    <div id="OverviewNavId" class="overview-nav overview-nav-hide" onclick="FilterChanges(event, '/Model/Filter')"></div>
</div>
