@model ModelOverviewDTO
@{
    ViewData["Title"] = "Modely";
    bool show = (bool)ViewData[SystemRoleEnum.ModelKeeper.ToString()] || (bool)ViewData[SystemRoleEnum.Admin.ToString()];
}
<script src="~/js/Model/Model.js"></script>
<script>
    const RoleForEdit = "@show" == "True";
</script>

<div id="PageNavId" class="page-navbar">
    @await Html.PartialAsync("Partial/_ModelOverviewHeader")
</div>
<div id="PageContentId" class="d-flex pt-3">
    <div id="DetailDivId" class="d-none detail-div">
        <div class="loading-content"></div>
    </div>
    <div id="OverviewDivId" class="container-lg">
        @await Html.PartialAsync("Partial/_ModelOverview", Model.Models)
    </div>
    <div id="OverviewNavId" class="overview-nav" onclick="FilterChanges(event, '/Model/Filter')">
        @await Html.PartialAsync("Partial/_OverviewFilters", "Model")
    </div>
</div>