@model ModelDetailDTO
@{
    ViewData["Title"] = "Konfigurace Model";
}
<script src="~/js/Model/Model.js"></script>

@if (Model != null)
{
    <div id="PageNavId" class="page-navbar">
        @await Html.PartialAsync("Partial/_ModelHeader", Model as ModelHeaderDTO)
    </div>
    <div id="PageContentId" class="pt-3">
        <div class="d-flex">
            <div class="container-lg">
                <h1 class="text-center border-bottom text-font">@Model.Name</h1>
                @Html.Raw(Model.SVG)
            </div>
            <div class="overview-nav">

            </div>
        </div>
    </div>
}