@model ModelOverviewDTO
@{
    ViewData["Title"] = "Modely";
}
<script src="~/js/Model/Model.js"></script>

<div id="PageNavId" class="page-navbar">
    <div class="d-flex justify-content-between px-4 page-navbar-content">
        <button type="button" class="btn my-auto"><i class="fas fa-chevron-circle-left my-auto"></i></button>
        <h1 class="my-auto text-font">@ViewData["Title"]</h1>
        <div class="my-auto">
            <a class="butn btn-p" href="/Service/Create">Vytvořit</a>
        </div>
    </div>
</div>
<div id="PageContentId" class="d-flex pt-3">
    <div id="DetailDivId" class="d-none detail-div">
        <div class="loading-content"></div>
    </div>
    <div id="OverviewDivId" class="container-lg">
        <div class="row">
            @foreach (ModelAllDTO model in Model.Models)
            {
                @await Html.PartialAsync("Partial/_ModelCard", (model, false))
            }
        </div>
    </div>
    <div id="OverviewNavId" class="overview-nav">

    </div>
</div>