@model UserDetailPartialDTO

<div id="DetailInfoId">
    @await Html.PartialAsync("Partial/_UserDetailInfo", Model)
</div>
@if (Model.Tasks.Count > 0)
{
    <h3 class="text-font text-center mt-2">Přiřazené úkoly</h3>
    <div class="row">
        @foreach (TaskAllDTO task in Model.Tasks)
        {
            @await Html.PartialAsync("../Task/Partial/_TaskCard", (task, false));
        }
    </div>
}
@if (Model.Agendas.Count > 0)
{
    <h3 class="text-font text-center mt-2">Správce agend</h3>
    <div class="row">
        @foreach (AgendaAllDTO agenda in Model.Agendas)
        {
            @await Html.PartialAsync("../Agenda/Partial/_AgendaCard", (agenda, false));
        }
    </div>
}
@if (Model.Workflows.Count > 0)
{
    <h3 class="text-font text-center mt-2">Správce workflow</h3>
    <div class="row">
        @foreach (WorkflowAllDTO worklfow in Model.Workflows)
        {
            @await Html.PartialAsync("../Workflow/Partial/_WorkflowCard", (worklfow, false));
        }
    </div>
}
