@model TaskOverviewDTO
@{
    ViewData["title"] = "Úkoly";
}
<script src="~/js/Task/Task.js"></script>

<div id="PageNavId" class="page-navbar">
    @await Html.PartialAsync("Partial/_TaskOverviewHeader")
</div>
<div id="PageContentId" class="d-flex pt-3">
    <div id="DetailDivId" class="d-none detail-div">
        <div class="loading-content"></div>
    </div>
    <div id="OverviewDivId" class="container-lg">
        @await Html.PartialAsync("Partial/_TaskOverview", Model.Tasks)  
    </div>
    <div id="OverviewNavId" class="overview-nav" onclick="FilterChanges(event, '/Task/Filter')">
        @await Html.PartialAsync("Partial/_OverviewFilters", "Task")
    </div>
</div>

