@model TaskOverviewDTO
@{
    ViewData["title"] = "Úkoly";
}
<script src="~/js/Task/Task.js"></script>

<div id="PageNavId" class="page-navbar">
    <h1 class="mt-1 text-font text-center page-navbar-content">@ViewData["title"]</h1>
</div>
<div id="PageContentId" class="d-flex pt-3">
    <div id="DetailDivId" class="d-none detail-div">
        <div class="loading-content"></div>
    </div>
    <div id="OverviewDivId" class="container-lg">
        <div class="row">
            @foreach (TaskAllDTO task in Model.Tasks)
            {
                @await Html.PartialAsync("Partial/_TaskCard", (task, false))
            }
        </div>
    </div>
    <div id="OverviewNavId" class="overview-nav">

    </div>
</div>

