@model TaskOverviewDTO
@{
    ViewData["title"] = "Úkoly";
}
<script src="~/js/Task/Task.js"></script>

<div id="PageNavId" class="page-navbar">
    <h1 class="mt-1 text-font text-center page-navbar-content">@ViewData["title"]</h1>
</div>
<div id="PageContentId" class="d-flex pt-3">
    <div id="DetailDivId" class="d-none detail-div">
        <div class="loading-content"></div>
    </div>
    <div id="OverviewDivId" class="container-lg">
        @await Html.PartialAsync("Partial/_TaskOverview", Model.Tasks)  
    </div>
    <div id="OverviewNavId" class="overview-nav" onclick="FilterChanges(event, '/Task/Filter')">
        <h2 class="text-font text-center mt-4 border-bottom mb-1">Filtrování</h2>
        @foreach (FilterTypeEnum value in Enum.GetValues<FilterTypeEnum>().Where(x => x.ToString().StartsWith("Task")))
        {
            <div id="@value" class="filter-div @(ViewBag.Filters[((int)value)] ? "filter-div-sel" : "")">@value.ToLabel()</div>   
        }
    </div>
</div>

