@model UserTaskDetailDTO
@{
    ViewData["title"] = "Detail úkolu";
}
<script src="~/js/Task/Task.js"></script>

<div id="PageNavId" class="page-navbar">
    @await Html.PartialAsync("Partial/_UserTaskHeader", Model)
</div>
<div id="PageContentId" class="d-flex pt-3">
    <div id="DetailDivId" class="detail-div container-lg">
        @await Html.PartialAsync("Partial/_UserTaskDetail", Model)
    </div>
    <div id="OverviewDivId" class="container-lg side-overview">
        <div class="row">
            @await Html.PartialAsync("Partial/_TaskCard", (Model.SelectedTask, true))
            @foreach (TaskAllDTO task in Model.OtherTasks)
            {
                @await Html.PartialAsync("Partial/_TaskCard", (task, false))
            }
        </div>
    </div>
    <div class="overview-nav overview-nav-hide"></div>
</div>
