@model UserOverviewDTO
@{
    ViewData["title"] = "Uživatelé";
}
<script src="~/js/User/User.js"></script>

<div id="PageNavId" class="page-navbar">
    @await Html.PartialAsync("Partial/_UserOverviewHeader")
</div>
<div id="PageContentId" class="d-flex pt-3">
    <div id="DetailDivId" class="d-none detail-div">
        <div class="loading-content"></div>
    </div>
    <div id="OverviewDivId" class="container-lg">
        @await Html.PartialAsync("Partial/_UserOverview", Model.Users)
    </div>
    <div id="OverviewNavId" class="overview-nav" onclick="FilterChanges(event, '/User/Filter')">
        @await Html.PartialAsync("Partial/_OverviewFilters", "User")
    </div>
</div>