@model LastConnectionRequestDTO
<div class="col-12 col-lg-6 mb-3">
    <label class="input">
        <div class="readonly-div">@Model.UserName</div>
        <span class="input-label">Jméno žadatele</span>
    </label>
</div>
<div class="col-12 col-lg-6 mb-3">
    <label class="input">
        <div class="readonly-div">@Model.Date</div>
        <span class="input-label">Datum žádosti</span>
    </label>
</div>
<div class="col-12 mb-3">
    <label class="input">
        <div class="readonly-div">@Model.URL</div>
        <span class="input-label">URL systému</span>
    </label>
</div>
<div class="col-12 mb-3">
    <label class="input">
        <div class="readonly-div">@Model.Text</div>
        <span class="input-label">Text žádosti</span>
    </label>
</div>
