@model SystemDetailDTO

<div id="DetailInfoId">
    @await Html.PartialAsync("Partial/_SystemDetailInfo", Model)
</div>
<h4 class="text-center text-font mb-0">Agendy</h4>
@if (Model.Agendas.Count > 0)
{
    <div class="row">
        @foreach (AgendaAllDTO agenda in Model.Agendas)
        {
            @await Html.PartialAsync("../Agenda/Partial/_AgendaCard", (agenda, false))
        }
    </div>
}
else
{
    <div class="text-placeholder mt-2">Systém není přiřazen k žádné agendě.</div>
}

<h4 class="text-center text-font mt-3 mb-0">Modely</h4>
@if (Model.Models.Count > 0)
{
    <div class="row">
        @foreach (ModelAllDTO model in Model.Models)
        {
            @await Html.PartialAsync("../Model/Partial/_ModelCard", (model, false))
        }
    </div>
}
else
{
    <div class="text-placeholder mt-2">Systém není přiřazen k žádnému modelu.</div>
}

<h4 class="text-center text-font mt-3 mb-0">Auditní záznamy</h4>
<table class="table table-striped table-pad">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Datum</th>
            <th scope="col">Záznam</th>
        </tr>
    </thead>
    <tbody>
        @foreach (AuditMessageAllDTO message in Model.Messages)
        {
            <tr>
                <th scope="row">@message.Date</th>
                <td>@message.Text</td>
            </tr>
        }
    </tbody>
</table>